<div class="tabla">
    <hr>
    <table>
        <tr>
            <th>Nombre</th>
            <th>Calidad</th>
            <th>Precio</th>
        </tr>
        <%produtosLista.forEach(per=>{%>
            <tr>
                <td><%=per.nombre%></td>
                <td><%=per.calidad%></td>
                <td><%=per.precio%></td>
                <td><a href="/crud/eliminar/<%=per._id%>">Eliminar</a></td>
                <td><a href="/crud/formUpdate/<%=per._id%>">Editar</a></td>
            </tr>
            <%})%>
        </table>
        <hr>
</div>